@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
}

*, *::before, *::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

*::selection {
    background-color: transparent;
    color: none;
}

html {
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    cursor: default;
    background-color: var(--dark-cyan);
    overflow: hidden;
}

.body-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 400px;
    border-radius: 15px;
    background-color: white;
    background-repeat: repeat-x;
    background-image: url(images/bg-pattern-card.svg);
}

.img-avatar {
    position: relative;
    bottom: 9px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid white;
    background-size: contain;
    background-image: url(images/image-victor.jpg);
}

.section-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 350px;
    height: 200px;
}

.name {
    margin-top: 15px;
    font-size: 1.2em;
}

.age {
    text-align: center;
    font-weight: normal;
}

.city {
    margin-top: 10px;
    text-align: center;
    color: var(--dark-gray);
}

.line {
    width: 100%;
    opacity: 25%;
}